@model GestordeTaras.EN.TareaFinalizada

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TareaFinalizada</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <!-- Agrega enctype para permitir la carga de archivos -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- ... (otros campos del formulario) ... -->

            <div class="form-group">
                <label asp-for="ImageFiles" class="control-label"></label> <!-- Nombre del campo coincidente con la propiedad en el modelo -->
                <input asp-for="ImageFiles" type="file" multiple class="form-control" /> <!-- Input para la carga de imágenes -->
                <span asp-validation-for="ImageFiles" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
