
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal </title>
    <!-- Incluye la hoja de estilos de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Incluye los iconos de Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        /* Estilos personalizados para el modal lateral */
        .modal-side {
            position: fixed; /* Modal fijo en la pantalla */
            top: 0; /* Alineado en la parte superior de la pantalla */
            left: -733px; /* Inicialmente, fuera de la pantalla hacia la izquierda */
            height: 70%; /* Ocupa el 100% de la altura de la pantalla */
            width: 200px; /* Ancho fijo de 200 píxeles */
            transition: right 0.3s ease; /* Transición suave en la propiedad 'right' */
        }

        /* Estilos para el contenido del modal */
        .modal-content {
            height: 100%; /* Ocupa el 100% de la altura del contenedor modal */
            overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido es más grande que la altura del contenedor */
        }

    </style>
</head>
<body>
    <main class="bg-secondary text-white p-4 container-fluid d-flex justify-content-between align-items-center">
        <!-- Botón con el icono de hamburguesa -->
       
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#miModal">
            <i class="fas fa-bars"></i>
        </button>

    </main>
    <!-- Modal -->
    <div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="miModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-side" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="miModalLabel">Apartados</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <!-- Contenido del modal -->
                <div class="modal-body ">

                    <div class="d-flex flex-wrap">
                        <a asp-controller="Categoria" asp-action="Create" class="btn btn-info mr-2 mb-2">Crear Categoría</a>
                        <a asp-controller="Categoria" asp-action="Edit" class="btn btn-success mr-2 mb-2">Editar Categoria</a>
                        <button class="btn btn-warning mb-2">Cargo</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Incluye los scripts de Bootstrap y jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        // Agregar un evento para mostrar el modal y aplicar la clase modal-open al body
        $('#miModal').on('show.bs.modal', function () {
            $('body').addClass('modal-open');
            $('.modal-side').css('right', '0');
        });

        // Agregar un evento para ocultar el modal y quitar la clase modal-open al body
        $('#miModal').on('hidden.bs.modal', function () {
            $('body').removeClass('modal-open');
            $('.modal-side').css('right', '-400px');
        });
    </script>
</body>
</html>


