@model GestordeTaras.EN.Prioridad

@{
    ViewData["Title"] = "Editar Prioridad";
}

<div class="modal-body">
    <form asp-action="Edit" asp-controller="Prioridad" method="post" class="needs-validation" novalidate>
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label asp-for="Nombre" class="control-label">Nombre:</label>
            <input asp-for="Nombre" class="form-control" required />
            <div class="invalid-feedback">
                Por favor, proporciona un nombre.
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        // Agregar scripts adicionales según sea necesario

        // Validación del lado del cliente con Bootstrap
        (function () {
            'use strict';

            // Seleccionar todos los formularios que necesitan validación
            var forms = document.querySelectorAll('.needs-validation');

            // Iterar sobre ellos y evitar el envío
            Array.from(forms).forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }

                    form.classList.add('was-validated');
                }, false);
            });
        })();
    </script>
}
