@model IEnumerable<GestordeTaras.EN.Prioridad>

@{


    ViewData["Title"] = "Index";
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
}

<h1>Prioridades</h1>

<p>
    <a asp-action="Create" class="btn btn-success">
        <i class="fas fa-plus"></i> Crear Nueva Prioridad
    </a>
</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>Acciones</th>
        </tr>
    </thead>

</table>
